<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivot.zchart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LineDemoActivity" />
        <activity android:name=".BarDemoActivity" />
        <activity android:name=".CombinedDemoActivity" />
        <activity android:name=".PieDemoActivity" />
        <activity android:name=".RadarDemoActivity" />
        <activity android:name=".ScatterDemoActivity" />
        <activity android:name=".ArcLineDemoActivity" />
        <activity android:name=".RoseDemoActivity"></activity>
    </application>

</manifest>